{
  "globals": {
    "__PATH_PREFIX__": true
  },
  "extends": ["airbnb"],
  "plugins": ["react", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "comma-dangle": "off",
    "quotes": [2, "semi", "avoid-escape"],
    "linebreak-style": 0,
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "components": [],
        "required": {
          "some": ["nesting", "id"]
        },
        "allowChildren": true
      }
    ],
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "import/prefer-default-export": "off",
    "react/jsx-one-expression-per-line": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
